<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>

  <!-- Style -->
  <link rel="stylesheet" href="./css/style.css" type='text/css'>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-left">
        <img src="./img/404.png">
      </div>
      <div class="col-right">
        <h3>Fullstack Web</h3>
        <h1>404</h1>
        <p>Error</p>
        <a href="/"><button class="btn">Home</button></a>
      </div>
    </div>
  </div>

</body>

</html>