<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Pengguna</title>
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Is Active</th>
            <th scope="col">Eye Color</th>
            <th scope="col">Gender</th>
            <th scope="col">Company</th>
            <th scope="col">Register</th>
            <th scope="col">Favorite Fruit</th>
          </tr>
        </thead>
        <tbody>
          <% if (output.message === 'data tidak ada / tidak ditemukan') { %>
            <tr>
              <td colspan="9">
                <h3 class="text-center my-5">Data Kosong</h3>
              </td>
            </tr>
          <%} else { %>
          <% i = 1 %>
            <%output.forEach(file => {  %>
          <tr>
            <td><%= i++ %> </td>
            <td><%= file.name %></td>
            <td><%= file.age %></td>
            <td><%= file.isActive %></td>
            <td><%= file.eyeColor %></td>
            <td><%= file.gender %></td>
            <td><%= file.company %></td>
            <td><%= file.registered %></td>
            <td><%= file.favoriteFruit %></td>
          </tr>
          <%})%>
         <% } %>
        </tbody>
      </table>
      <div class="mt-5">
        <p><%= pesan %></p>
      </div>
</body>

</html>